{extend name="public:layout" /}
{block name="title"}{/block}
{block name="css"}{/block}
{block name="container"}
<!-- Page Content -->
<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <!-- Condensed Table -->
            <div class="block">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="">菜单列表</a>
                    </li>
                    <li>
                        <a href="">添加菜单</a>
                    </li>
                    <li class="pull-right">
                        <ul class="block-options push-10-t push-10-r">
                            <li>
                                <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="block-content tab-content">
                    <div class="tab-pane active">
                        <div class="row data-table-toolbar">
                            <div class="col-sm-12">
                                <form class="search-bar" method="get" action="">
                                    <span>关键字：</span>
                                    <input type="text" class="form-control" style="width:200px;" value="" name="keyword" placeholder="请输入关键字">
                                    <select class="form-control" style="width:200px;" name="contact1-subject">
                                        <option value="1">Support</option>
                                        <option value="2">Billing</option>
                                        <option value="3">Management</option>
                                        <option value="4">Feature Request</option>
                                    </select>
                                    <input type="button" class="btn btn-primary" value="搜&nbsp;&nbsp;索" name="submit">
                                </form>
                            </div>
                        </div>
                        <div class="row data-table-toolbar">
                            <div class="col-sm-12">
                                <div class="toolbar-btn-action">
                                    <!-- Single button -->
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle btn-all" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">操作 <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">审核</a></li>
                                            <li><a href="#">删除</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-condensed">
                                <thead>
                                <tr>
                                    <th class="text-center" width="5%">
                                        <label class="css-input css-checkbox css-checkbox-sm css-checkbox-primary">
                                            <input type="checkbox" id="check-all"><span></span>
                                        </label>
                                    </th>
                                    <th>ID</th>
                                    <th>名称</th>
                                    <th class="text-center" width="10%">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="text-center">
                                        <label class="css-input css-checkbox css-checkbox-sm css-checkbox-primary">
                                            <input class="ids" type="checkbox" name="ids[]" value="1"><span></span>
                                        </label>
                                    </td>
                                    <td>1212</td>
                                    <td>
                                        name
                                    </td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <a class="btn btn-xs btn-default" href="javascript:void(0)" title="修改"><i class="fa fa-pencil"></i></a>
                                            <a class="btn btn-xs btn-default" href="javascript:void(0)" title="删除"><i class="fa fa-times"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="pull-right">
                                <span class="page-total">共20条记录</span>
                                <ul class="pagination">
                                    <li>
                                        <a href="javascript:void(0)">首页</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">上一页</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">1</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">2</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">3</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">4</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">5</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">下一页</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Condensed Table -->
        </div>
    </div>
</div>
<!-- END Page Content -->
{/block}
{block name="js"}{/block}